<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYsGBRPrRSlH5k5Zv5DpvNbYuVpQVZKhK1cyoZ6cpNP_umVWr8BGJVDnlNe_E-SyrOYl4&usqp=CAU"
    alt=""
    height="200px"
    srcset="">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>


  <div class="big-card__description">
    <p>
      <a href="#">
        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla la bla bla bla bla bla bla bla bla bla la bla bla bla bla bla bla bla bla bla
      </a>
    </p>
  </div>
</div>
